.language-buttons {
  margin-top: 15px;
  border-top: 1px solid $border-gray;
  @media (max-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__language {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: $text-gray-light;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    &.is-active {
      color: $text-gray;
    }
  }
  &.is-active {
    color: $black;
  }
}
