.modal-card {
  width: 100%;
  height: 100%;
  &__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    @media (max-width: 755px) {
      object-fit: cover;
      width: 100%;
    }
  }
}
