.slider-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100vw;
  height: 100%;
  background-color: rgba($black, 0.9);
  &__container {
    height: 100%;
  }
  &__info {
    position: absolute;
    z-index: 11;
    top: 0;
    display: flex;
    width: 100%;
    background: $gradient;
  }
  &__typography {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    margin-left: 10px;
    color: $text-gray;
    font-weight: 700;
    &--name {
      color: $white;
    }
  }
  &__button-close {
    cursor: pointer;
    position: absolute;
    z-index: 11;
    right: 10px;
    top: 10px;

    @media (min-width: 1440px) {
      right: 30px;
      top: 30px;
    }
    background-color: transparent;
    border: none;
    &:hover {
      & svg * {
        fill: $gray-black;
      }
    }
  }
  &__button-icon {
    width: 30px;
    height: 30px;
    & * {
      fill: $white;
    }
  }
  &__wrapper {
    position: fixed;
    width: 90%;
    height: 90%;
    background-color: rgba($gray-black, 0.8);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 992px) {
      top: auto;
      bottom: 10%;
      transform: translate(-50%, 10%);
      width: 100%;
    }
  }
  &__slider-track {
    height: 100%;
  }
  &__slider {
    height: 100%;
  }
  &__slider-wrapper {
    position: relative;
    height: 100%;
  }
  &__slider-dots {
    bottom: 20px;
  }
  &.is-active {
    display: block;
  }
}
