$primary: #040e12;
$gray: #9cb2b0;
$white: #ffffff;
$black: #000000;
$gray-light: #ebebeb;
$gray-black: #616161;
$dark-light: #1a1818;

$text-primary: #040e12;
$text-gray-light: #9cb2b0;
$text-dark: #000000;
$text-white: #ffffff;
$text-gray: #514f4f;
$text-white: #ffffff;

$base-font-size: 16px;
$base-font-family: 'Lato', sans-serif;

$border-gray: #9cb2b0;
$primary-light: #ffc000;
$warning: #fff3cd;
$text-warning: #856404;
$border-warning: #ffeeba;
