.our-apartments {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 80px;
  margin-top: 120px;
  @media (max-width: 992px) {
    margin-top: 60px;
    padding: 0px 12px;
  }
  &__slider-item {
    @media (max-width: 992px) {
      box-sizing: border-box;
      padding: 0 15px;
    }
    @media (max-width: 690px) {
      padding: 0;
    }
  }
  &__slider {
    height: 420px;
  }
  &__slider-dots {
    bottom: 5px;
  }
  &__wrapper {
    position: relative;
    margin-top: 20px;
    @media (min-width: 992px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
